<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/perfil.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <script src="/script/perfil.js" defer></script>
  <script src="/script/utils.js" defer></script>
</head>

<body>
  <%- include('partials/header') %>
    <div class="sidebar">
      <ul>
        <li><a href="/info">Info</a></li>
        <li><a href="/noticias">Notícias</a></li>
        <li><a href="/bate-papo">Chat</a></li>
        <li><a href="/video-clipes">Vídeos</a></li>
        <% if (userLoggedIn) { %>
          <li class="item"><a href="/editor" class="nav-link">Publicar</a></li>
          <% } else { %>
            <li class="item"><a href="/login" class="nav-link">Publicar</a></li>
            <% } %>
      </ul>
    </div>
    <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="perfil-container">
      <div class="profile">
        <div class="autor">
          <div class="hole-container">
            <div class="hole">
            </div>
          </div>
          <div class="image-xbox">
            <img src="<%=  imgpath %>" alt="Imagem do Perfil" width="96" height="96" class="imagem-perfil">
          </div>
          <div class="profile-description">
            <p class="gamertag">
              <%= user.login_usu %>
            </p>
            <div class="gs-container">
              <div class="circle">
                <div class="letter">G</div>
              </div>
              <p class="gamerscore"> <span class="gamerscore-value">
                  <%= user.gamerscore %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="profile2">
        <div class="autor">
          <div class="hole-container">
            <div class="hole">
            </div>
          </div>

          <div class="profile-description2">
            <textarea class="desc-profile2" placeholder="Sua descrição atual do perfil vai aqui."
              readonly><%= user.descricao || "Descrição não fornecida" %></textarea>
          </div>
        </div>
      </div>

    </div>
    <div class="teste">
      <div class="article-container">
      </div>
      <div class="pagination-container">
        <div class="pagination">
          <a class="prev-page">Anterior</a>
          <div class="page-numbers">
            <a class="active">1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>6</a>
            <a>7</a>
            <a>8</a>
          </div>
          <a class="next-page">Próxima</a>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>